/ {
    zephyr,user {
        st7920_gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>, // Não pode mudar
                <&gpioa 7 GPIO_ACTIVE_HIGH>, // Não pode mudar
                <&gpioa 6 GPIO_ACTIVE_HIGH>, // Não pode mudar
                <&gpioa 5 GPIO_ACTIVE_HIGH>; // Não pode mudar
    };
};

/* vim: set filetype=dts : */
